<div class="room-component">
  <div class="message-header">
    <h5>

    </h5>
    <small>

    </small>
    <small>

    </small>
  </div>
  <div class="msg_history" ref="messageRoomList">
    <template v-for="message in messages">
      <!-- Mensaje enviado por otro usuario -->
      <div class="incoming_msg" v-if="isIncomingMessage(message)">
        <div class="incoming_msg_img">
          <img alt="sunil" src="https://ptetutorials.com/images/user-profile.png">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <div title="Send message" class="username">

            </div>
            <p>
              {{ message.text }}
            </p>
            <span class="time_date">
              {{ message.date | moment('HH:mm A | MMMM D') }}
            </span>
          </div>
        </div>
      </div>
      <!-- Mensaje enviado por el usuario logueado -->
      <div v-else class="outgoing_msg">
        <div class="sent_msg">
          <p>
            {{ message.text }}
          </p>
          <span class="time_date">
            {{ message.date | moment('HH:mm A | MMMM D') }}
          </span>
        </div>
      </div>
    </template>
  </div>
  <div class="type_msg">
    <div class="input-group">
      <input placeholder="Write a message here..." class="form-control" ref="inputText" type="text" v-model="newRoomMessage.text">
      <div class="input-group-append">
        <button title="Send"
                class="btn btn-primary"
                type="button">
          <font-awesome-icon icon="paper-plane"></font-awesome-icon>
        </button>
      </div>
    </div>
  </div>
</div>
