<div class="chat-component">
  <div class="message-header">
    <h5>

    </h5>
    <small>

    </small>
    <small>

    </small>
  </div>
  <div class="msg_history" ref="messageList">

      <div class="incoming_msg">
        <div class="incoming_msg_img">
          <img alt="sunil" src="https://ptetutorials.com/images/user-profile.png">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <p>

            </p>
            <span class="time_date">

            </span>
          </div>
        </div>
      </div>
      <div class="outgoing_msg">
        <div class="sent_msg">
          <p>

          </p>
          <span class="time_date">

            <span class="fa-pull-right">
              <font-awesome-icon color="#007bff" icon="check-double"></font-awesome-icon>
              <font-awesome-icon icon="check"></font-awesome-icon>
            </span>
          </span>
        </div>
      </div>

  </div>
  <div class="type_msg">
    <div class="input-group">
      <input class="form-control" ref="inputText" type="text">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <font-awesome-icon icon="paper-plane"></font-awesome-icon>
        </button>
      </div>
    </div>
  </div>
</div>
