<div class="chat-component">
  <div class="message-header">
    <h5>

    </h5>
    <small>

    </small>
    <small>

    </small>
  </div>
  <div class="msg_history" ref="messageList">
    <div v-for="message in messagesList">
      <div class="incoming_msg" v-if="message.idSender !== currentUser.id">
        <div class="incoming_msg_img">
          <img alt="sunil" src="https://ptetutorials.com/images/user-profile.png">
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <p>
              {{message.text}}
            </p>
            <span class="time_date">
                {{message.date}}
            </span>
          </div>
        </div>
      </div>
      <div class="outgoing_msg" v-if="message.idSender === currentUser.id">
        <div class="sent_msg">
          <p>
              {{message.text}}
          </p>
          <span class="time_date">
            {{message.date}}
            <span class="fa-pull-right">
              <font-awesome-icon color="#007bff" icon="check-double" v-if="message.markedAsRead"></font-awesome-icon>
              <font-awesome-icon icon="check" v-if="!message.markedAsRead"></font-awesome-icon>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="type_msg">
      <div class="input-group">
        <input class="form-control" ref="inputText" type="text" v-model="newUserMessage.text">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" @click="sendMessage()" :disabled="!newUserMessage.text || newUserMessage.text === ''">
            <font-awesome-icon icon="paper-plane"></font-awesome-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
